/* Blinking Hello Kitty Angel - https://www.cursors-4u.com/cursor/blinking-hello-kitty-5 */
* {
  cursor: url('https://cdn.cursors-4u.net/css-previews/blinking-hello-kitty-angel-c592abfe-css.webp') 0 0, auto !important;
}
/* End www.Cursors-4U.com Code */

body {
    /* margin: 20px; */
    /* height: 100%;
    width: 100%; */
    overflow: hidden;
    background-color: #f0f0f0;
}

#bg {
    background-image: url("imgs/bg.jpg");
    background-position: center;
    background-size: cover;
    cursor: url('https://cdn.cursors-4u.net/previews/angel-wing-heart-800e0eca-32.webp') 32 32, auto !important;
    object-fit: cover;
  margin: 60px;
}
#main {
    background-color: white;
display: flex;
flex-direction: column; 
box-shadow: inset 13px 0px 6px -10px rgb(66 66 66 / 56%), inset -13px 0px 6px -10px rgb(66 66 66 / 56%), inset 0px 13px 6px -10px #ffffff, inset 0px -13px 6px -10px rgb(66 66 66 / 38%);
filter: drop-shadow(0px 0px 1px #424242);
-webkit-filter: drop-shadow(0px 0px 1px #424242);
background:white;
color:black;
width:calc(100% - 20px);
height:fit-content;

overflow-y:auto;
border-radius:10px;
padding:8px 10px 10px 10px;
box-sizing: border-box;
margin: auto;
}       

#header {
    background-image: url("imgs/header.jpg");
    padding: 40px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
      background-repeat: no-repeat;
 background-position-x: 100%;
  /* position: relative; */
  background-position-y: 100%;
  overflow: hidden;
  
  
}

#headertxt {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* ! font */
.cherry-bomb-one-regular {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 50px;
}
