/* Blinking Hello Kitty Angel - https://www.cursors-4u.com/cursor/blinking-hello-kitty-5 */
* {
  cursor: url('https://cdn.cursors-4u.net/css-previews/blinking-hello-kitty-angel-c592abfe-css.webp') 0 0, auto !important;
}
/* End www.Cursors-4U.com Code */

body {
    /* margin: 20px; */
    /* height: 100%;
    width: 100%; */
    overflow: hidden;
    background-color: #f0f0f0;
      background-position: absolute;
    
}

#bg {
    background-image: url("imgs/bg.jpg");
    background-position: center;
    background-size: cover;
    cursor: url('https://cdn.cursors-4u.net/previews/angel-wing-heart-800e0eca-32.webp') 32 32, auto !important;
    object-fit: cover;
  margin: 60px;
  background-size: cover;
  background-attachment: fixed;

}
#main {
    background-color: white;
display: flex;
flex-direction: column; 
/* dimensions */
width: 100%;
max-width: 1200px;
margin: 0 auto;
padding: 20px;
/* border shadow */
box-shadow: inset 13px 0px 6px -10px rgb(66 66 66 / 56%), inset -13px 0px 6px -10px rgb(66 66 66 / 56%), inset 0px 13px 6px -10px #ffffff, inset 0px -13px 6px -10px rgb(66 66 66 / 38%);
filter: drop-shadow(0px 0px 1px #424242);
-webkit-filter: drop-shadow(0px 0px 1px #424242);
background:white;
color:black;
/* height:fit-content; */
justify-content: space-between;
align-items: center;

overflow-y:auto;
border-radius:10px;

}       

#header {
/* * div measurements  */
align-items: center;
  /* etc */
  width: 100%;
  max-width: 800px;
  height: auto;
/* margin: 0 auto; */
    /* z-index: 10; */
    /* bg image */
     background-image: url("imgs/header.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     /* background-clip: padding-box; */

     

    /* * text settings */
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
     
      
}
     


#headertxt {
 color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
   


/* ! font */
.cherry-bomb-one-regular {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 50px;
}


#sections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    gap: 50px;
    width: 100%;
}

#nav {
    width: 400px;
    background-color: #f0f0f0;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: inset 13px 0px 6px -10px rgb(66 66 66 / 56%), inset -13px 0px 6px -10px rgb(66 66 66 / 56%), inset 0px 13px 6px -10px #ffffff, inset 0px -13px 6px -10px rgb(66 66 66 / 38%);
    filter: drop-shadow(0px 0px 1px #424242);
    -webkit-filter: drop-shadow(0px 0px 1px #424242);
}

#intro {
  width: 300px; 
  margin: auto;

}
#extra {
  width: 300px; 
  margin: auto;
}